body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}
canvas {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
}
